In [9]:
class Employee:
    def set_name(self,new_name):
        self.name=new_name
    def set_salary(self,salary):
        self.salary=salary
        
emp=Employee()
emp.set_name("Russel")

In [10]:
emp.name

'Russel'

In [11]:
emp.set_name("Kohli")

In [12]:
emp.name

'Kohli'

In [13]:
emp.set_salary(44500)

In [14]:
emp.salary

44500

In [15]:
emp.salary=emp.salary+1000

In [8]:
emp.salary

45500

In [18]:
class Employee:
    def set_name(self,new_name):
        self.name=new_name
    def set_salary(self,salary):
        self.salary=salary
    def raise_salary(self,amount):
        self.salary=self.salary+amount

In [21]:
emp=Employee()
emp.set_salary(42550)

In [22]:
emp.salary

42550

In [23]:
emp.raise_salary(12000)

In [24]:
emp.salary

54550

In [27]:
class Employee:
    def set_name(self,new_name):
        self.name=new_name
    def set_salary(self,salary):
        self.salary=salary
    def raise_salary(self,amount):
        self.salary=self.salary+amount
    def monthly_salary(self):
        return self.salary/12

In [28]:
emp=Employee()
emp.set_name("Karthick")
emp.set_salary(50000)
emp.raise_salary(15000)
emp.monthly_salary()

5416.666666666667

In [29]:
class Employee:
    def set_name(self,new_name="Karthi"):
        self.name=new_name
    def set_salary(self,salary):
        self.salary=salary
    def raise_salary(self,amount):
        self.salary=self.salary+amount
    def monthly_salary(self):
        return self.salary/12

In [34]:
emp=Employee()
emp.name       # if we call our attribute 'name' in Employee it show AttributeError
               #  because there is no Attribute if we use constructer like "__init__" it can used

AttributeError: 'Employee' object has no attribute 'name'

In [35]:
class Employee:
    def __init__(self,new_name="Karthi"):
        self.name=new_name
    def set_salary(self,salary):
        self.salary=salary
    def raise_salary(self,amount):
        self.salary=self.salary+amount
    def monthly_salary(self):
        return self.salary/12

In [36]:
emp=Employee()
emp.name

'Karthi'

In [38]:
class Employee:
    def __init__(self,new_name="Karthi",salary=0):
        self.name=new_name
        self.salary=salary
        
    def raise_salary(self,amount):
        self.salary=self.salary+amount
    def monthly_salary(self):
        return self.salary/12

In [42]:
emp=Employee()
print(emp.name)
print(emp.salary)

Karthi
0

If i want to change name of my Employee

In [44]:
emp=Employee("Rohit",-1000)

In [45]:
print(emp.name)
print(emp.salary)

Rohit
-1000

If you want to make changes only in salary

In [46]:
emp=Employee(salary=-1000)

In [47]:
print(emp.name)
print(emp.salary)

Karthi
-1000

In [57]:
class Employee:
    def __init__(self,new_name="Karthi",salary=0):
        self.name=new_name
        if salary >=0:
            self.salary=salary
        else:
             self.salary=0
        self.day="Sunday"
                
        
    def raise_salary(self,amount):
        self.salary=self.salary+amount
    def monthly_salary(self):
        return self.salary/12

In [58]:
emp=Employee(salary=-1000)

In [59]:
emp.name

'Karthi'

In [60]:
emp.salary

0

In [61]:
emp.day

'Sunday'

Instance and Class Data

core Principles of OOP

In [74]:
class Player:
    Max_Postion=10   # This is Know as Global Referance
    def __init__(self):
        self.position=0
        
    def change_position(self,increment):
        self.position=self.position+increment

In [72]:
Player.Max_Postion

10

In [75]:
p1=Player()

In [76]:
p2=Player()

In [78]:
p1.position

0

In [79]:
p1.position

0

In [80]:
p1.change_position(3)

In [81]:
p1.position

3

In [83]:
p2.position  # Haven't chnaged if made in def it wnt affect (Branch)

0

In [84]:
Player.Max_Postion=20 # if we chnge in class it affect and shows in def(branch)

In [85]:
p1.Max_Postion

20

In [86]:
p2.Max_Postion

20